html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img, audio, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, iframe, video, img, svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

html {
  line-height: 1.4;
  font-size: 18px;
  color: #101010;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, textarea, select, button {
  border: 1px solid #DCDFE6;
}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section, .section {
  position: relative;
  padding: 40px 0;
}

@media screen and (max-width: 1280px) {
  section, .section {
    padding: 36px 0;
  }
}

@media screen and (max-width: 1280px) {
  section, .section {
    padding: 28px 0;
  }
}

@media screen and (max-width: 1280px) {
  section, .section {
    padding: 20px 0;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 320px;
  }
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

input {
  padding: 16px 26px;
  margin-bottom: 30px;
  border-radius: 20px;
}

textarea {
  padding: 30px 27px;
  border-radius: 14px;
}

input, textarea {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: .8em 2.6em;
  margin: 20px 0;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 30px;
}

.btn.btnDefaul {
  color: #ffffff;
  border: 1px solid #333333;
  background-color: #333333;
}

.btn.btnPrimary {
  color: #ffffff;
  border: 1px solid #494ce8;
  background-color: #494ce8;
}

.btn.btnDanger {
  color: #ffffff;
  border: 1px solid #b54040;
  background-color: #b53f3f;
}

.btn.btnWhite {
  color: #333333;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */